{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Setcho.Ai Admin') }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const today = new Date().toISOString().split('T')[0];
            const start_date = document.getElementById("start_date");
            const end_date = document.getElementById("end_date");
            
            start_date.setAttribute('max', "{{request.session.dashboard_end_date}}" || today);
            end_date.setAttribute('max', today);
            if ("{{request.session.dashboard_start_date}}") {
                end_date.setAttribute('min', "{{request.session.dashboard_start_date}}")
            }

            end_date.addEventListener('change', (event) => {
                start_date.setAttribute('max', event.target.value)
            })
            start_date.addEventListener('change', (event) => {
                end_date.setAttribute('min', event.target.value)
            })
        })


        function isDateRangeValid(startInput, endInput) {
            const errorMsg = document.getElementById("error-message");
            const startDate = new Date(startInput);
            const endDate = new Date(endInput);

            // Reset previous error message
            errorMsg.style.display = "none";
            errorMsg.textContent = "";

            if (isNaN(startDate) || isNaN(endDate)) {
                errorMsg.textContent = "Please select both start and end dates.";
                errorMsg.style.display = "block";
                return false;
            }

            if (endDate < startDate) {
                errorMsg.textContent = "End date cannot be earlier than start date.";
                errorMsg.style.display = "block";
                endInput.focus();
                return false;
            }

            return true; // form submits normally
        }

        async function saveDateRange() {
            const start_date = document.getElementById("start_date").value;
            const end_date = document.getElementById("end_date").value;

            if (!isDateRangeValid(start_date, end_date)) {
                return;
            }

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            await fetch("{% url 'dashboard_set_date_range' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken
                },
                credentials: "same-origin",
                body: JSON.stringify({ start_date, end_date })
            });
            window.location.reload();
        }
    </script>
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% component "unfold/components/container.html" %}


        <div class="my-4 flex justify-between flex-col sm:flex-row">
            <div class="text-2xl font-semibold text-font-important-light dark:text-font-important-dark mb-4 sm:my-auto">Dashboard</div>
            <div>
                <form id="dateRangeForm" class="flex flex-wrap my-auto gap-2">
                    {% csrf_token %}
                    <div class="flex gap-1 flex-wrap sm:flex-nowrap">
                        <div class="flex gap-1">
                            <label class="font-semibold text-font-important-light text-sm dark:text-font-important-dark flex items-center">Start</label>
                            <input type="date" id="start_date" name="start_date" value="{{ request.session.dashboard_start_date|default:'' }}"
                                class="w-full border border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded-default shadow-xs text-font-default-light text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark group-[.primary]:border-transparent disabled:!bg-base-50 dark:disabled:!bg-base-800 px-3 py-2">
                        </div>

                        <div class="flex gap-1"> 
                            <label class="font-semibold text-font-important-light text-sm dark:text-font-important-dark flex items-center">End</label>
                            <input type="date" id="end_date" name="end_date" value="{{ request.session.dashboard_end_date|default:'' }}"
                                class="w-full border border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded-default shadow-xs text-font-default-light text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark group-[.primary]:border-transparent disabled:!bg-base-50 dark:disabled:!bg-base-800 px-3 py-2">
                        </div>
                    </div>
                    <button type="button" onclick="saveDateRange()" class="bg-primary-600 block border border-transparent cursor-pointer font-medium px-3 py-2 rounded-default text-white grow">Apply</button>
                    
                </form>
                <p id="error-message" class="text-right" style="color: red; display: none;"></p>
            </div>
        </div>

        <!--
        {% tab_list "dashboard" %}
        -->
        {% component "unfold/components/dashboard_inventory.html" with component_class="InventoryDashboard" %}{% endcomponent %}


        <!-- 
        <div class="grid gap-4 grid-cols-2 lg:grid-cols-4 my-4">
            {% component "unfold/components/card.html" %}
                <div class="flex justify-between flex-col-reverse gap-1 sm:gap-0 sm:flex-row">
                    {% component "unfold/components/text.html" %}
                        Total chat messages
                    {% endcomponent %}
                    <div class="flex justify-end">
                        <span class="inline-block font-semibold h-6 leading-6 px-2 rounded-default text-[11px] uppercase whitespace-nowrap
                            bg-primary-100 text-primary-700 dark:bg-primary-500/20 dark:text-primary-400">
                            {{ dashboard.days_difference_label }}
                        </span>
                    </div>
                </div>
                {% component "unfold/components/title.html" %}
                    {{ dashboard.chat_messages_total_count|default:"0" }}
                {% endcomponent %}
            {% endcomponent %}

            {% component "unfold/components/card.html" %}  
                <div class="flex justify-between flex-col-reverse gap-1 sm:gap-0 sm:flex-row">
                    {% component "unfold/components/text.html" %}
                        Total chat conversations
                    {% endcomponent %}
                    <div class="flex justify-end">
                        <span class="inline-block font-semibold h-6 leading-6 px-2 rounded-default text-[11px] uppercase whitespace-nowrap
                            bg-primary-100 text-primary-700 dark:bg-primary-500/20 dark:text-primary-400">
                            {{ dashboard.days_difference_label }}
                        </span>
                    </div>
                </div>
                {% component "unfold/components/title.html" %}
                    {{ dashboard.chat_sessions_total_count|default:"0" }}
                {% endcomponent %}
            {% endcomponent %}
            
        </div>

        {% component "unfold/components/flex.html" with class="my-4 gap-4 grid md:grid-cols-2" %}

            {% component "unfold/components/card.html" %}
                {% component "unfold/components/text.html" %}
                    Number of questions sent by users
                {% endcomponent %}
                {% component "unfold/components/title.html" with class="mb-8" %}
                    {{ dashboard.num_of_questions_by_users_count|default:"0" }}
                {% endcomponent %}
                {% component "unfold/components/chart/line.html" with data=dashboard.num_of_questions_by_users_line_chart %}{% endcomponent %}    
            {% endcomponent %}

            {% component "unfold/components/card.html" %}
                {% component "unfold/components/text.html" %}
                    Number of chat conversations
                {% endcomponent %}
                {% component "unfold/components/title.html" with class="mb-8" %}
                    {{ dashboard.chat_sessions_total_count|default:"0" }}
                {% endcomponent %}
                {% component "unfold/components/chart/line.html" with data=dashboard.num_of_sessions_line_chart %}{% endcomponent %}    
            {% endcomponent %}

        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="my-4 gap-4 grid md:grid-cols-2" %}
            {% component "unfold/components/card.html" with title="AI Persona Stats" %}
                {% component "unfold/components/table.html" with table=dashboard.totals_per_chatbot_table card_included=1 striped=1 %}{% endcomponent %}
            {% endcomponent %}

            {% component "unfold/components/card.html" with title="Top 10 Users" %}
                {% component "unfold/components/table.html" with table=dashboard.top_users_table card_included=1 striped=1 %}{% endcomponent %}
            {% endcomponent %}
        {% endcomponent %}
    -->

    {% endcomponent %}
{% endblock %}
